/* estilos.css */

/* Estilo básico da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #4a90e2;
    margin-top: 20px;
}

#timerr {
    color: #4ae257;
    margin-top: 20px;
}

#timer {
    font-size: 50%;
    font-weight: bolder;
}

/* Estilo para centralizar o PDF e o botão */
.pdf-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

/* Estilo do Canvas (PDF) */
#pdfCanvas {
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

#pdfCanvas2 {
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

#pdfCanvas3 {
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

/* Estilo do botão */
button {
    background-color: #4a90e2;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #357ABD;
    transform: translateY(-2px);
}

button:active {
    background-color: #2d5f9e;
    transform: translateY(0);
}

/* Tornando o layout responsivo */
@media (max-width: 768px) {
    #pdfCanvas {
        max-width: 100%;
    }
    #pdfCanvas2 {
        max-width: 100%;
    }
    #pdfCanvas3 {
        max-width: 100%;
    }

    button {
        padding: 12px 25px;
        font-size: 16px;
    }
}

img.icon {
    width: 20%;
    height: 20%;
    align-items: center;
    